main {
    width: 70%;
}

#map {
    height: 40rem;
    border-radius: 0.5rem;
    border: 4px var(--fg) solid;
}

#map:focus {
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 992px) {
    main {
        width: 95%;
    }
}

img {
    border-radius: 0;
    margin: 0 0;
}

.key {
    font-size: 1.3em;
}

.key img {
    height: 1em;
}

.filters {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1em;
    flex-wrap: wrap;
    align-items: center;
}

#date {
    background: var(--bg);
    border: 4px solid var(--fg);
    padding: 0.3em 0.6em;
    font-weight: 700;
    font-size: 1em;
    color: var(--fg);
    border-radius: 0.2em;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#date:hover,
#date:active,
#date:focus {
    background: var(--bg);
    border: 4px solid var(--accent);
}

#timeline-day {
    padding-left: 0.5rem;
}
