main {
    width: 70%;
}

#map {
    height: 40rem;
    border-radius: 0.5rem;
    border: 4px var(--fg) solid;
}

#map:focus {
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 992px) {
    main {
        width: 95%;
    }
}

img {
    border-radius: 0;
    margin: 0 0;
}

.key {
    font-size: 1.3em;
}

.key img {
    height: 1em;
}

.filters {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1em;
    flex-wrap: wrap;
    align-items: center;
}

#date {
    background: var(--bg);
    border: 4px solid var(--fg);
    padding: 0.3em 0.6em;
    font-weight: 700;
    font-size: 1em;
    color: var(--fg);
    border-radius: 0.2em;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#date:hover,
#date:active,
#date:focus {
    background: var(--bg);
    border: 4px solid var(--accent);
}

#timeline-day {
    padding-left: 0.5rem;
    font-weight: 600;
    text-align: center;
}

#timeline-play img {
    vertical-align: middle;
    padding-bottom: 3px;
    height: 1em;
    width: auto;
}

#filter-activate {
    width: 100%;
    margin-bottom: 0;
    transition: border-radius 0s;
    text-align: left;

    color: var(--fg);
}

#filter-activate .icon {
    height: 1.3em;
    vertical-align: bottom;
    transition: ease-in-out 0.2s all;
}

#filter-activate .flag-icon {
    vertical-align: unset;
}

.wrapper-filter {
    width: 20rem;
}

.wrapper-filter:hover menu,
.wrapper-filter menu.active {
    display: block;
}

.wrapper-filter:hover #filter-activate,
.wrapper-filter #filter-activate.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.wrapper-filter:hover #filter-activate .icon,
.wrapper-filter #filter-activate.active .icon {
    rotate: -180deg;
}

.wrapper-filter menu {
    list-style-type: none;
    padding-left: 0;
    display: none;
    position: absolute;
    z-index: 401;
    background-color: var(--bg);
    width: calc(20rem - 8px);
    border: 4px solid var(--accent);

    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.wrapper-filter menu button {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    color: var(--fg);
    width: 100%;
    border-top: 4px solid var(--accent);
    border-radius: 0;
    text-align: left;
}

.wrapper-filter menu li:first-child button {
    border-top: none;
}

.wrapper-filter menu li:last-child button {
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.wrapper-filter menu button.active {
    background: var(--accent);
    color: var(--bg);
}

.wrapper-filter menu button:focus,
.wrapper-filter menu button:hover,
.wrapper-filter menu button:active {
    outline: none;
    box-shadow: none;
    border: none;
    border-top: 4px solid var(--accent);
    background-color: var(--fg);
    color: var(--bg);
}

.wrapper-filter menu button.active:hover,
.wrapper-filter menu button.active:focus,
.wrapper-filter menu button.active:active {
    background: var(--fg);
}

.wrapper-filter menu li {
    margin: 0 0 !important;
}